*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
/* DEBUG */
.debug header{
    border: 2px dotted blueviolet;
    background-color: lightcoral;
}
/* .debug ul{
    border: 2px solid black;
} */

/* .debug .jumbo1{
    border: 2px dotted blueviolet;
    background-color: lightcoral;
   
}
.debug .jumbo2{
    border: 2px dotted rgb(43, 226, 58);
    background-color: rgb(128, 169, 240);
    
} */
.debug .payment-row{
    border: 2px dotted blueviolet;
    background-color: lightcoral;
}
.debug .payment-col{
    border: 2px dotted rgb(43, 226, 58);
    background-color: rgb(128, 169, 240);
    
}
/* GENERAL */
li,
ul,
a{
    text-decoration: none;
    
}
ul{
    list-style-type: none;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    
}
.container-wide{
    max-width: 1000px;
    margin: auto;
    
    
}
.container-small{
    max-width: 800px;
    margin: auto;
    
}
.button{
    display: inline-block;
    background-color: #0060FF;
    padding: 5px 10px;
    color: white;
}
a{
    color: inherit;
}
/* HEADER */
header{
    width: 100%;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    color: #616161;
}
header ul,
header ul > li{
    display: inline-block;
}

.col-header{
    justify-content: space-between;
    align-items: center;
}
.row-left,
.row-right,
.row-left > img{
    line-height: 30px;
    vertical-align: middle;
}
header ul > li{
    padding: 0 7px;
}

/* MAIN */

section{
    padding:70px 0 50px 0;
}


/* jumbo */
.jumbotron{
    background-color: #B4D0E7;
    
}
h1{
    font-size: 2em;
    margin-bottom: -50px;
}
.jumbo1{
    width: calc(40%);
}
.jumbo2{
    width: calc(60%);
}
.jumbo1 .button{
    margin: 30px 0;
}
.jumbo1 span{
    display: block;
}
.jumbo2 img{
    width: 100%;
}
.jumbo-row{
    position: relative;
    top: 90px;
}
.jumbo1 span >i{
    margin-top: 60px;
    font-size: 2em;
    }


/* section2 */
section:nth-of-type(2){
    margin-top: 75px;
}
.payment-row{
    justify-content: space-between;
}
.payment-col{
    width: 30%;
    padding-left: 10px;
}
.payment-desc span{
 display: block;
}
.cost{
    font-weight: bold;
}
.payment-plan{
    text-align: center;
    border: 2px solid lightgoldenrodyellow;
}
.payment-desc ul:first-of-type li:nth-child(2){
    color: lightgrey;
    padding-bottom: 20px;
}
.payment-desc li{
    padding: 5px;
}
.payment-desc .button{
    margin: 10px 0 5px 0;
}
.payment-desc span{
    display: block;
}
.payment-desc span a{
    color: #0000FF;
    text-decoration: underline;
}
.payment-desc h6{
    font-size: 1em;
}
.payment-desc ul:last-of-type li:before {
    content: '✓';
    color: blue;
  }
/* section3 */

.enterprise-row h5{
    margin: 10px 0;
}
.enterprise-col1{
    width: 65%;
}
.enterprise-col2{
    width: 35%;
    text-align: right;
}

/* section4 */
.col1{
    width: 60%;
}
.col2{
    width: 40%;
}
.debug .col1{
    border: 2px dotted red;
    height: 100px;
}
.debug .col2{
    border: 2px dotted rgb(0, 255, 213);
    
}
.col2 > .button{
    background-color: white;
    border: 2px solid grey;
    color: grey;
}

/* section5 */
.col-dropboxbusiness{
    margin: 0 -10px;
}
.row-dropboxbusiness{
    width: calc((100% / 3) - 20px);
    margin: 20px 10px;
}
.debug .row-dropboxbusiness{
    border: 2px dotted red;
    
    background-color: lightcyan;
}
.debug .col-dropboxbusiness{
    background-color: lightcoral;
}

/* section7 */
section:nth-of-type(7){
    padding: 0;
}
.row-sponsor{

}
.col-sponsor{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    border: 2px dotted red;
}
.row-sponsor-logos{
    width: 100%;
    height: 100%;
}
.col-sponsor-logos{
    width: 50%;
    height: 50%;
    border: 1px solid black;
}

/* section8 */

section:nth-of-type(8){
    background-color: #B4D0E7;
}
section:nth-of-type(8) .col2{
    text-align: right;
}
section:nth-of-type(8) .col2 .button{
    border: none;
}

/* secion9 */
section:nth-of-type(9) h2{
    padding-bottom: 20px;
}
.question{
    border-top: 2px solid grey ;
}
.question:last-of-type{
    border-bottom: 2px solid grey ;
}
.question{
    padding: 10px 0;
}


/* FOOTER */

footer{
    background-color: black;
    color: white;
    padding: 40px 0;
}

.col-footer{
    width: calc(100% / 5);
    margin-bottom: 40px;
}
.col-footer li{
    padding: 5px 0;
}

.language{
    padding: 20px 0;
}
.line-break{
    border-top: 2px solid grey;
    width: 80px;
    margin: 20px 0;
}