*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

/* DEBUG */
.debug header{
    border: 2px dotted rgb(108, 10, 10);
}
.debug .col{
    border: 2px dotted rgb(10, 72, 108);
    background-color: lightcoral;
}

/* GENERAL */

.flex{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}

/* HEADER */
header{
    color: rgb(131, 132, 132);
    padding: 20px;
}
header .flex{
    justify-content: space-between;
}

/* MAIN */
main{
    background-color: #FAFBFC;
}
.container{
    max-width: 900px;
    margin: auto;
}

.row{
    justify-content: space-between;
}
.col{
    width: 50%;
}
main a:first-child,
.fa-check{
    font-weight: bold;
    color: blue;
}

/* left column */
.col-left > div:first-child *{
    padding: 10px 0;
}
.col-left > div:first-child{
    border-bottom: 1px solid black;
    padding: 30px 0;
}

.col-left h4{
    text-transform: uppercase;
    color: lightslategray;
    padding: 15px 0;
}
.col-left li{
    padding: 5px 0;
    margin-left: -5px;
}
/* right column */

.col-right{
    padding: 20px;
    
}
.col-right-flex{
    justify-content: space-between;
    margin: -10px;
}
.col-right-flex > div{
    width: calc(50% - 20px);
    margin: 10px;
}
.col-right-flex > div:nth-of-type(n+7){
    width: 100%;
}
.col-right-flex input,
.col-right-flex select{
    width: 100%;
}
.col-right-flex > div:first-child{
    font-size: 1.25em;
    color: lightslategray;
}
.col-right-flex .button{
    display: block;
    width: 100%;
    border-radius: 2px solid lightgrey;
}