*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

/* GENERAL */
li,
ul,
a{
    text-decoration: none;
    
}
ul{
    list-style-type: none;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    
}
.container-wide{
    max-width: 1200px;
    margin: auto;
    
    
}
.container-small{
    max-width: 1000px;
    margin: auto;
    
}
.button{
    display: inline-block;
    background-color: #0060FF;
    padding: 5px 10px;
    color: white;
}
a{
    color: inherit;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.25em;
}
.col-big{
    width: 60%;
}
.col-small{
    width: 40%;
}
.line-break{
    border-top: 2px solid #b0b0b0;
    width: 80px;
    margin: 20px 0;
}

/* HEADER */
header{
    width: 100%;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    color: #616161;

    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}
header ul,
header ul > li{
    display: inline-block;
}

.col-header{
    justify-content: space-between;
    align-items: center;
}
.row-left,
.row-right{
    line-height: 30px;
    vertical-align: middle;
    margin-left: 10px;
}
header ul > li{
    padding: 0 10px;
}
.row-left a img{
    vertical-align: middle;
}

/* dropdowns */
.nav-function{
    position: relative;
}
.dropdown-functions{
    display: none;
    position: absolute;
    background-color: #d1d1d1;
}

.nav-function:hover .dropdown-functions{
    display: block;
}
/* MAIN */

section{
    padding:70px 0 50px 0;
}
/* main{
    overflow-y: auto;
    overflow-x: hidden;
} */

/* jumbo */


.jumbotron{
    background-color: #B4D0E7;
    
}
h1{
    font-size: 3em;
    margin-bottom: -50px;
}

.jumbo1 .button{
    margin: 30px 0;
}
.jumbo1 span{
    display: block;
}
.jumbo2 img{
    width: 100%;
}
.jumbo-row{
    position: relative;
    top: 100px;
}
.jumbo1 span i{
    margin-top: 90px;
    font-size: 3em;
    }


/* section2 */

.payment-row{
    justify-content: space-between;
}
.payment-col{
    width: 30%;
    border: 2px solid #d1d1d1;
}

.cost{
    font-weight: bold;
}
.payment-plan{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #d1d1d1;
}


/* payment description column */

.payment-desc{
    
    padding: 20px 25px;
}
.payment-desc > ul:first-of-type li:nth-child(2){
    color: rgb(159, 157, 157);
    padding-bottom: 20px;
}
.payment-desc li{
    padding: 10px 0;
}
.payment-desc .fa-ul li{
    margin-left: -15px;
}
.payment-desc ul:first-child{
    margin-left: -20px;
}
.payment-desc span a,
.col-big a{
    color: #0000FF;
    text-decoration: underline;
}
.payment-desc h6{
    font-size: 1em;
    margin: 20px 0;
}
.fa-check{
    color: blue;
}

.payment-desc .button{
    margin: 40px 10px 20px 0;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

/* selectionpayment */


.circle{
    display: inline-block;
    border: 2px solid rgb(173, 173, 173);
    height: 16px;
    width: 16px;
    border-radius: 15px;
    vertical-align: middle;
}
.circle.select{
    border: 4px solid rgb(0, 0, 249);
}


.selection-payment{
    line-height: 20px;
    margin: 25px 0;
}
.selection-payment span:nth-last-of-type(2n+1){
    margin-right: 20px;
}
.selection-payment span{
    vertical-align: middle;
}


.payment-col:last-of-type{
    width: 100%;
    margin-top: 40px;
}


/* bottom column full size */


.enterprise-row .col-big h3,
.enterprise-row .col-big p{
    margin: 15px 0;
}
.enterprise-row .col-big h4{
    margin-bottom: 30px;
}


.enterprise-row .col-small{
    text-align: center;
}

.col-small.payment-desc .button{
    margin-top: 10px;
}


/* section 3 */


.partner .col-big > img{
    width: 100%;
}
.partner .col-small{
    padding: 40px;
} 
.partner .col-small *{
    margin: 10px 0;
}
.partner .col-small > .button{
    background-color: white;
    border: 2px solid #616161;
    color: #616161;
    margin-top: 15px;
}


/* section4 */


.col-dropboxbusiness{
    margin: 0 -20px;
}
.row-1-3{
    width: calc((100% / 3) - 40px);
    margin: 20px 20px;
}

.row-1-3 > div > img{
    width: 100%;
}
.row-1-3 h3{
    margin-bottom: 15px;
}

/* section 5 */


.col-big h2{
    margin-bottom: 40px;
}

/* section6 */


.sponsor{
    padding: 0;
}
.row-sponsor{

}
.col-sponsor{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
.row-sponsor-logos{
    width: 100%;
    height: 100%;
}
.col-sponsor-logos{
    width: 50%;
    height: 50%;
    border: 1px solid black;
    position: relative;
}
.svg-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
.col-sponsor-logos img{
    width: 100%;
    filter: invert(100%);
}
.col-sponsor:nth-of-type(2n+2){
    padding: 40px;
    background-color: #F5F5F5;
}
.main-sponsor{
    width: 50%;
}
.main-sponsor img{
    width: 100%;
}
.col-sponsor p{
    margin-bottom: 20px;
}

/* logo colors */

.col-sponsor-logos.green{
    border: 10px solid #D1E9CD;
    background-color: #A2D39B;
}
.col-sponsor-logos.bordeaux{
    background-color: #61082B;
}
.col-sponsor-logos.acqua{
    background-color: #0093CE;
}
.col-sponsor-logos.red{
    background-color: #FF1C1C;
}
.col-sponsor-logos.darkred{
    background-color: #D5001F;
}
.col-sponsor-logos.ice{
    background-color: #B4D0E7;
}
.col-sponsor-logos.blue{
    background-color: #0D2481;
}
.col-sponsor-logos.yellow{
    background-color: #FFD830;
}

/* section7 */

.banner{
    background-color: #B4D0E7;
}
.banner .col-small{
    text-align: right;
}
.banner .col-small .button{
    border: none;
}
.banner h2{
    color: #610829;
}

.banner .col-small .button{
    background-color: white;
    color: black;
    padding: 10px 20px;
}


/* section8 */

.questions h2{
    padding-bottom: 20px;
}
.question{
    border-top: 2px solid #b0b0b0 ;
    position: relative;
    padding: 30px 0;
}
.question:last-of-type{
    border-bottom: 2px solid #b0b0b0 ;
}

.scroll-down{
    position: absolute;
    right: 0;
    top: 20px;
    padding: 10px;
}
.question p{
    display: none;
    margin-top: 20px;
    width: 90%;
}
.question-1:hover > p,
.question-2:hover > p,
.question-3:hover > p{
    display: block;
    
}
.question-1:hover .fa-chevron-down,
.question-2:hover .fa-chevron-down,
.question-3:hover .fa-chevron-down{
    transform: rotate(180deg);
}


/* FOOTER */

footer{
    background-color: black;
    color: white;
    padding: 40px 0;
}

.col-footer{
    width: calc(100% / 5);
    margin-bottom: 40px;
}
.col-footer li{
    padding: 5px 0;
}

.language{
    padding: 20px 0;
}
